@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 100px;
  background: linear-gradient(
    270deg,
    #337ccf 18.32%,
    rgba(51, 124, 207, 0) 100.31%
  );
}

.header h1 {
  max-width: 248px;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 50px;
  gap: 5rem;

  .AdjustRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .Label {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      width: 100%;
    }

    .Label label {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .Label input {
      border-radius: 8px;
      border: 1px solid #333;
      background-color: #fff;
      padding: 10px 15px;
      width: 80%;
    }

    .Label select {
      width: 80%;
      border-radius: 8px;
      border: 1px solid #333;
      background-color: #fff;
      padding: 15px 10px;
    }

    .Label .AdjustGender {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .Label .AdjustGender .gender {
      width: 100%;
      max-width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .buttons .create {
      padding: 15px 30px;
      border-radius: 20px;
      background: #0560fd;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .buttons .cancel {
      padding: 15px 30px;
      border-radius: 20px;
      background: #fd0505;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
