@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 110px 0;

  .adjust {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  .adjust button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #337ccf;
    color: white;
  }
}

.Container h1 {
  color: #387cdb;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Container table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.Container table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Container table tr {
  /* max-width: 770px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Container table tr th {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px 0 18px 0px;
  border-top: 1px solid rgba(229, 229, 229, 1);
}

.Container table tr td {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  padding: 0 0 20px 0px;
}

.Container table tr td:first-child {
  align-items: left;
  justify-content: left;
  padding: 0px;
  
}

.Container table tr th:first-child {
  align-items: left;
  justify-content: left;
  padding-top: 30px;
  
  
}

.Container table tr th:first-child {
  align-items: left;
  justify-content: left;
  padding-top: 10px;
  
  
}
.Container table tr td:nth-child(6) {
  align-items: center;
  justify-content: center;
}

.Container table tr th:nth-child(6) {
  align-items: center;
  justify-content: center;
}

