@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 110px 0;

  .adjust {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  .adjust button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #337ccf;
    color: white;
  }
}

.Container h1 {
  color: #387cdb;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Container table {
  width: 100%;
  display: table;
  table-layout: fixed; 
  margin-top: 50px;
  
}

.Container table tr {
  display: table-row;
  width: 100%;
  
  
}

.Container table th {
  display: table-row;
  width: 100%;
  border-top: 1px solid rgba(229, 229, 229, 1);
}

.Container table th th{
  display: table-row;
  width: 100%;
  padding:10px 10px;
  
}


.Container table tr th,
.Container table tr td {
  display: table-cell;
  width: 12.5%; 
  text-align: left; 
  padding: 0 8px;
  font-size: 14px;  

}

.Container table tr td:nth-child(8) {
  padding-left: 50px;
}

.Container table tr th:nth-child(8) {
  padding-left: 45px;
}

.Container table tr td:nth-child(7) {
  margin-left: 55px;
  padding-left: 20px;
}

.Container table tr th:nth-child(7) {
  margin-left: 55px;
}