@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.adjust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 62px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
  width: 100%;
  border-radius: 30px;
  position: relative;
  background-image: linear-gradient(
    90deg,
    rgba(248, 180, 0, 0.67) 15.6%,
    rgba(255, 201, 60, 0) 114.4%
  );
}

.container .teks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  max-width: 545px;
  width: 100%;
  padding-left: 40px;
}

.container .teks .title h1 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .teks .desc p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  padding-right: 20px;
}

.container .img {
  position: relative;
  width: 380px;
  height: 250px;
  margin-top: 15px;
}
